polyeventclients/organisateur/src/main/resources/connexionClientWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/polyevent/connecterClient" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ConnexionClientService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/polyevent/connecterClient">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/polyevent/connecterClient" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/polyevent/connecterClient">
  <xs:element name="connexion" type="tns:connexion"/>
  <xs:element name="connexionResponse" type="tns:connexionResponse"/>
  <xs:complexType name="connexion">
    <xs:sequence>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="connexionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="tns:token"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="token">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateDeValidite" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="organisateur" type="tns:organisateur"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="organisateur">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientPasEnregistreException" type="tns:ClientPasEnregistreException"/>
  <xs:complexType name="ClientPasEnregistreException">
    <xs:sequence>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ClientPasEnregistreException">
    <wsdl:part element="tns:ClientPasEnregistreException" name="ClientPasEnregistreException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="connexion">
    <wsdl:part element="tns:connexion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="connexionResponse">
    <wsdl:part element="tns:connexionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConnecterClient">
    <wsdl:operation name="connexion">
      <wsdl:input message="tns:connexion" name="connexion">
    </wsdl:input>
      <wsdl:output message="tns:connexionResponse" name="connexionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ClientPasEnregistreException" name="ClientPasEnregistreException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConnexionClientServiceSoapBinding" type="tns:ConnecterClient">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="connexion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="connexion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="connexionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ClientPasEnregistreException">
        <soap:fault name="ClientPasEnregistreException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnexionClientService">
    <wsdl:port binding="tns:ConnexionClientServiceSoapBinding" name="ConnexionClientPort">
      <soap:address location="http://localhost:8080/polyeventbackend-war/webservices/connexionClientWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>